*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-toggle-button: gray;
    --justify-content-moving-element: start;
}
.onposition{
    --color-toggle-button: gray ;
    --justify-content-moving-element: end;
}
.toggle_all{
    margin: 100px;
    border: solid 1px black;
    width: 110px;
    padding:5px;
    border-radius: 50px;
    cursor: pointer;
}
.toggle_moving_area{
    display: flex;
    flex-direction: row;
    justify-content: var(--justify-content-moving-element);
}
.toggle_moving_area button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.toggle_img{
    background: url('./moon.png');
    height: 100%;
    width: 100%;
}